.container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100vh

    .content
        .Introduction
            margin-bottom: 20px
            padding-bottom: 10px
            border-bottom: 1px solid #000

            .Introduction-title
                font-size: 70px

            .Introduction-description
                font-size: 25px
                margin-left: 15px

    .catalogue
        font-size: 18px
        margin-left: 15px
        text-transform: uppercase

    .simple__BG
        width: 75%
        height: 100%
        background-size: cover
        background-image: url("/image/logo_temporal.png")
        background-position: 50% 50%
        z-index: -1

@media print
    .container
        position: relative
        width: 100%
        .content
            .Introduction
                text-align: center
                .Introduction-title
                    font-size: 100px
                    text-transform: uppercase

                .Introduction-description
                    font-size: 25px
                    font-family: 'Edu SA Beginner'
                    margin-left: 15px

                    span
                        display: inline-block
                        position: relative
                        top: 0.5px
                        left: -4px
                        width: 0px

        .catalogue
            display: none

        .simple__BG
            margin-bottom: 50px
            background-image: none

            img
                width: 100%
